@media (max-width: 568px) {
  .mobile__hidden {
    display: none !important;
  }
  .mobile {
    display: unset;
  }
  .content {
    padding-left: calc(50% - 178px);
    padding-right: calc(50% - 178px);
  }
  .header {
    position: relative;
    justify-content: center;
    .navigation {
      display: block !important;
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 46px;
      left: calc(98vw - 50px);
      bottom: 0;
      right: 0;
      height: 50px;
      width: 50px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 100;
      .nav__logo {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        top: 0;
        width: 50px;
        height: 40px;
        background-color: #fff;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: margin 0.3s;
        -o-transition: margin 0.3s;
        transition: margin 0.3s;
        cursor: pointer;
        .logo-item {
          display: block;
          position: relative;
          width: 23px;
          height: 30px;
          .logo-first-line,
          .logo-second-line,
          .logo-third-line {
            display: block;
            position: absolute;
            background-color: $color;
            width: 23px;
            height: 3px;
            -webkit-transition: transform 0.2s, bottom 0.2s, top 0.2s,
              background-color 0.2s;
            -o-transition: transform 0.2s, bottom 0.2s, top 0.2s,
              background-color 0.2s;
            -webkit-transition: bottom 0.2s, top 0.2s, background-color 0.2s,
              -webkit-transform 0.2s;
            transition: bottom 0.2s, top 0.2s, background-color 0.2s,
              -webkit-transform 0.2s;
            transition: transform 0.2s, bottom 0.2s, top 0.2s,
              background-color 0.2s;
            transition: transform 0.2s, bottom 0.2s, top 0.2s,
              background-color 0.2s, opacity 0.2s;
          }
          .logo-first-line {
            top: 0;
          }
          .logo-second-line {
            top: 5px;
          }
          .logo-third-line {
            top: 10px;
          }
        }
      }
      .nav__logo.active {
        .logo-first-line {
          top: 2.5px;
          transform: rotate(-45deg);
        }
        .logo-second-line {
          top: 2.5px;
          transform: rotate(45deg);
        }
        .logo-third-line {
          opacity: 0;
        }
      }
      .bar {
        padding: 26px;
        width: 100vw;
        height: 50vh;
        background: $color;
        box-shadow: 0 0 10px #000;
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        gap: 90px;
        right: 0;
        top: 10vh;
        -webkit-transition: transform 0.1s, filter 0.1s;
        -o-transition: transform 0.1s, filter 0.1s;
        -webkit-transition: -webkit-transform 0.1s, -webkit-filter 0.1s;
        transition: -webkit-transform 0.1s, -webkit-filter 0.1s;
        transition: transform 0.1s, filter 0.1s;
        transition: transform 0.1s, filter 0.1s, -webkit-transform 0.1s,
          -webkit-filter 0.1s;
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
        transform: rotate3d(1, 0, 0, 90deg);
        .mobile {
          display: block !important;
          .nav {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .bar.active {
        transform: rotate3d(1, 0, 0, 0deg);
        filter: blur(0px);
      }
    }
  }
  .mission {
    height: 715px;
    display: block;
    &-content.mobile {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      padding: 7px 0 25px 0;
      .mission-content__title {
        width: 296px;
        font-size: 35px;
        text-align: center;
        margin-bottom: 15px;
      }
      .mission-image__container {
        height: 408px;
        background: url("/images/mobilephone.png") no-repeat;
        background-position: 32% 45%;
      }
      .mission-content__text {
        width: 293px;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 28px;
      }
    }
  }
  .answer {
    padding-bottom: 40px;
    .answer__heading {
      margin-bottom: 25px;
      h2 {
        font-size: 35px;
        line-height: 32px;
      }
      span {
        font-size: 18px;
        text-align: center;
      }
    }
    .answer__items {
      margin-bottom: 32px;
      grid-template-columns: 1fr;
      gap: 32px;
      .answer-item {
        h3 {
          font-size: 22px;
        }
        span {
          font-size: 18px;
        }
      }
    }
    .form-answer {
      gap: 18px;
      flex-direction: column;
      .email-input,
      .btn.access-btn {
        width: 320px;
      }
    }
  }
  .quote-block {
    h3 {
      font-size: 22px;
    }
  }
  .products-block {
    .products-title {
      margin-bottom: 22px;
    }
    .products-content {
      flex-direction: column;
      gap: 8px;
      .products-text {
        gap: 30px;
      }
    }
  }
  .digitize-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    .digitize-title {
      width: 227px;
      font-size: 35px;
      line-height: 45.5px;
    }
    .capabilities {
      grid-template-columns: 1fr;
      &__item {
        padding: 22px 0;
        h3 {
          font-size: 22px;
          margin: 9px 0;
        }
        p {
          padding: 0 45px;
        }
      }
    }
  }
  .blog-block {
    .blog-title {
      font-size: 35px;
    }
    .news-container {
      grid-template-columns: 1fr;
      .news-item {
        align-items: center;
        img {
          max-width: 320px;
        }
        h4 {
          align-self: flex-start;
        }
      }
    }
    .btn.news-btn {
      width: 320px;
    }
  }
  .contact {
    flex-direction: column;
    &-content {
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 18px;
      }
    }
    &-form {
      .inputs {
        input,
        .text-area textarea {
          width: 320px;
        }
        .text-area {
          flex-wrap: wrap;
        }
      }
    }
  }
  .footer {
    height: 537px;
    &-content {
      flex-direction: column;
      gap: 30px;
      align-items: normal;
      margin-bottom: 22px;
    }
    .content-first.mobile {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      align-items: center;
      .logo a {
        font-size: 50px;
      }
    }
    .content-links.mobile {
      display: flex !important;
      flex-direction: column;
      gap: 23px;
      .socials {
        display: flex;
        gap: 20px;
      }
    }
  }
}
@media (max-width: 360px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
