body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

p {
  margin-bottom: 0;
}

.content {
  padding-left: calc(50% - 660px);
  padding-right: calc(50% - 660px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  padding-top: 28px;
  padding-bottom: 28px;
  background: #fff;
}
.header .logo a {
  color: #2ecc71;
  font-size: 48px;
  text-decoration: none;
  font-style: italic;
}
.header .nav {
  gap: 22px;
}
.header .nav-link {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.header .socials {
  display: flex;
}

.mission {
  display: flex;
  position: relative;
  background: #2ecc71;
  height: 874px;
  max-width: 100%;
  color: #fff;
}
.mission-content {
  padding-top: 317px;
}
.mission-content__title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
}
.mission-content__text {
  width: 652px;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 48px;
}
.mission-content .signup-btn {
  width: 255px;
  height: 56px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background: #252525;
  border: 3px solid rgba(52, 167, 246, 0);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}
.mission-content .signup-btn:hover {
  border: 3px solid #000;
  color: #000;
  background: #fff;
}
.mission .mission-image {
  filter: drop-shadow(10px 66px 66px #000);
}
.mission .signup__popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.5s all;
  pointer-events: none;
  z-index: 3;
}
.mission .signup__popup-bg .signup-popup {
  padding: 26px 20px 15px 20px;
  width: 581px;
  height: 502px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 10px;
  background: #fff;
  transition: 0.5s ease-in-out;
}
.mission .signup__popup-bg .signup-popup h3 {
  color: #010101;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 58px;
}
.mission .signup__popup-bg .signup-popup .signup-form {
  display: flex;
  flex-direction: column;
}
.mission .signup__popup-bg .signup-popup .signup-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mission .signup__popup-bg .signup-popup .signup-form .inputs label {
  width: 93px;
  color: #000;
  font-size: 20px;
}
.mission .signup__popup-bg .signup-popup .signup-form .inputs input {
  width: 380px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #969696;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.mission .signup__popup-bg .signup-popup .signup-form .inputs .text-area {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
.mission .signup__popup-bg .signup-popup .signup-form .inputs .text-area textarea {
  border-radius: 5px;
  border: 1px solid #969696;
  width: 381px;
  height: 132px;
  outline: none;
}
.mission .signup__popup-bg .signup-popup .signup-form .send-btn {
  margin-top: 27px;
  margin-bottom: 44px;
  margin-left: auto;
  width: 160px;
  height: 43px;
  padding: 0;
  border-radius: 10px;
  border: 3px solid transparent;
  background: #252525;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.mission .signup__popup-bg .signup-popup .signup-form .send-btn:hover {
  border: 3px solid #000;
  background: transparent;
  color: #000;
}
.mission .signup__popup-bg .signup-popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s transform;
  z-index: 100;
}
.mission .signup__popup-bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s all;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 49px;
}
.answer .answer__heading {
  text-align: center;
  margin-bottom: 40px;
}
.answer .answer__heading h2 {
  font-size: 45px;
  font-weight: 600;
}
.answer .answer__heading span {
  font-size: 25px;
}
.answer__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(360px, 1fr));
  -moz-column-gap: 55px;
       column-gap: 55px;
  margin-bottom: 54px;
}
.answer__items .answer-item {
  text-align: center;
}
.answer__items .answer-item h3 {
  font-size: 30px;
  font-weight: 600;
}
.answer__items .answer-item span {
  font-size: 22px;
}
.answer .form-answer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.answer .form-answer .email-input {
  width: 428px;
  height: 47px;
  padding: 10px 17px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #969696;
  outline: none;
}
.answer .form-answer .email-input::-moz-placeholder {
  color: #969696;
}
.answer .form-answer .email-input::placeholder {
  color: #969696;
}
.answer .form-answer .access-btn {
  width: 428px;
  height: 47px;
  background: #2ecc71;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.answer .form-answer .access-btn:hover {
  color: #2ecc71;
  background: #fff;
  border: 3px solid #2ecc71;
}
.answer .earlyaccess__popup_bg {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.5s all;
  pointer-events: none;
  z-index: 3;
}
.answer .earlyaccess__popup_bg .earlyaccess__popup {
  width: 100%;
  max-width: 580px;
  height: 100%;
  max-height: 216px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s ease-in-out;
}
.answer .earlyaccess__popup_bg .earlyaccess__popup h3 {
  color: #010101;
  font-size: 20px;
  font-weight: 600;
}
.answer .earlyaccess__popup_bg .earlyaccess__popup.active {
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 15px #010101;
  transition: 0.3s transform;
  z-index: 100;
}
.answer .earlyaccess__popup_bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s all;
}

.quote-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 181px;
  background: #252525;
  text-align: center;
  color: #2ecc71;
  font-size: 32px;
  font-weight: 600;
}
.quote-block h3 {
  width: 700px;
  margin: 0 auto;
}

.products-block {
  padding-top: 42px;
  background: #fff;
}
.products-block .products-title {
  font-weight: 600;
  text-align: center;
  font-size: 45px;
}
.products-block .products-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 228px;
}
.products-block .products-content .products-text {
  display: flex;
  flex-direction: column;
  gap: 92px;
  text-align: center;
}
.products-block .products-content .products-text .first-section,
.products-block .products-content .products-text .second-section {
  max-width: 315px;
}
.products-block .products-content .products-text .first-section__title {
  font-size: 32px;
  color: #252525;
  font-weight: 600;
}
.products-block .products-content .products-text .first-section__text {
  font-size: 22px;
}
.products-block .products-content .products-text .second-section__title {
  font-size: 32px;
  color: #2ecc71;
  font-weight: 600;
}
.products-block .products-content .products-text .second-section__text {
  font-size: 22px;
}

.digitize-top__line {
  background: rgba(229, 229, 229, 0.3098039216);
  height: 68.5px;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 101%);
          clip-path: polygon(0 100%, 0 0, 100% 101%);
}

.digitize-bottom__line {
  background: rgba(229, 229, 229, 0.3098039216);
  height: 75px;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
          clip-path: polygon(100% 0, 0% 100%, 0 0);
}

.digitize-block {
  background: rgba(229, 229, 229, 0.3098039216);
  padding-top: 11px;
  padding-bottom: 42px;
}
.digitize-block .digitize-title {
  text-align: center;
  margin-bottom: 40px;
}
.digitize-block .capabilities {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 428px));
  justify-content: center;
  gap: 20px;
}
.digitize-block .capabilities__item {
  text-align: center;
  padding: 50px 0;
  border-radius: 10px;
  border: 1px solid #2ecc71;
  background: #fff;
  max-width: 428px;
  width: 100%;
  min-width: 320px;
  max-height: 314px;
  height: 100%;
  min-height: 228px;
}
.digitize-block .capabilities__item h3 {
  color: #000;
  font-size: 25px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 22px;
}
.digitize-block .capabilities__item p {
  color: #000;
  font-size: 18px;
  padding: 0 86px;
  font-weight: 600;
  margin: 0;
}

.blog-block {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-direction: column;
}
.blog-block .blog-title {
  color: #000;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}
.blog-block .news-container {
  display: grid;
  justify-content: center;
  gap: 22px;
  grid-template-columns: repeat(3, minmax(312px, 430px));
}
.blog-block .news-container .news-item {
  display: flex;
  flex-direction: column;
}
.blog-block .news-container .news-item h4 {
  margin-top: 14px;
  margin-bottom: 5px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.blog-block .news-container .news-item p {
  color: #000;
  font-size: 20px;
}
.blog-block .news-btn {
  width: 255px;
  height: 56px;
  align-self: center;
  border-radius: 10px;
  border: 5px solid #2dc66e;
  color: #2ecc71;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.blog-block .news-btn:hover {
  background: #2dc66e;
  color: #fff;
}

.contact {
  background: rgba(229, 229, 229, 0.3098039216);
  gap: 185px;
  padding-top: 84px;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-content {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  max-width: 375px;
}
.contact-content h2 {
  color: #000;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 9px;
}
.contact-content p {
  color: #000;
  font-size: 20px;
}
.contact-content p a {
  color: #2ecc71;
  text-decoration: none;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form .inputs label {
  width: 93px;
  color: #000;
  font-size: 20px;
}
.contact-form .inputs input {
  width: 540px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #969696;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
.contact-form .inputs .text-area {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
.contact-form .inputs .text-area textarea {
  border-radius: 5px;
  border: 1px solid #969696;
  width: 540px;
  height: 132px;
  outline: none;
}
.contact-form .send-btn {
  margin-top: 27px;
  margin-bottom: 44px;
  margin-left: auto;
  width: 160px;
  height: 43px;
  padding: 0;
  border-radius: 10px;
  border: 3px solid transparent;
  background: #252525;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.contact-form .send-btn:hover {
  border: 3px solid #000;
  background: transparent;
  color: #000;
}

.footer {
  padding-top: 33px;
  padding-bottom: 19px;
  height: 373px;
  background: #252525;
}
.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 150px;
  margin-bottom: 79px;
}
.footer-content .content-first .logo {
  margin-bottom: 19px;
}
.footer-content .content-first .logo a {
  color: #2ecc71;
  font-size: 48px;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
}
.footer-content .content-first a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.footer-content .content-first .socials {
  margin-top: 57px;
  display: flex;
  gap: 20px;
}
.footer-content .content-links {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer-content .content-links a {
  text-decoration: none;
  display: block;
  height: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.footer__line {
  width: 100%;
  height: 1px;
  background: rgb(74, 74, 74);
}
.footer .copyright {
  margin: 25px 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 1440px) {
  .content {
    padding-left: calc(50% - 572px);
    padding-right: calc(50% - 572px);
  }
  .mission {
    height: 755px;
  }
  .mission .mission-content {
    padding-top: 215px;
  }
  .mission .mission-image__container {
    width: 100%;
    height: 100%;
    background: url("../images/phone.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .mission .mission-image__container .mission-image {
    display: none;
  }
  .digitize-block .capabilities__item p {
    padding: 0 55px;
  }
  .digitize-block .capabilities__item-1 p {
    padding: 0 63px;
  }
  .blog-block .blog-title {
    margin: 0;
  }
  .blog-block .news-container {
    gap: 20px;
  }
  .blog-block .news-container .news-item img {
    height: 231px;
  }
  .contact {
    gap: 94px;
  }
  .contact-form .inputs input {
    width: 562px;
  }
  .contact-form .inputs .text-area textarea {
    width: 562px;
  }
}
@media (max-width: 568px) {
  .mobile__hidden {
    display: none !important;
  }
  .content {
    padding-left: calc(50% - 178px);
    padding-right: calc(50% - 178px);
  }
  .header {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */